includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
    tmpDir: build/phpstan
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Trait .* is used zero times and is not analysed#'
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
            path: config/filament-solaris.php
